*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header Part of the Page */

header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header img{
    width: 2.2rem;
    height: 2.2rem;
}
header li{
    list-style-type: none;
}

header li a{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-weight: 700;
    opacity: 0.7;
}

header li a:hover{
    text-decoration: underline;
    opacity: 1;
}

.left ul{
    display: flex;
    justify-content: start;
}

.right ul{
    display: flex;
    justify-content: end;
    align-items: center;
}

.sign {
    background-color: #4285F4;
    color: #fff;
    opacity: 1;
    padding: 7px 12px;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 500;
}

.sign:hover{
    text-decoration: none;
    background-color: #3273db;
}

/* Main Part of the Page */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo img{
    margin-bottom: 30px;
}

input, input:focus, input:active{
    width: 515px;
    height: 46px;
    border-radius: 50px;
    border: 1px solid #D3D3D3;
    outline: none;
    padding-left: 45px;    

}

input:hover{
    box-shadow: 2px 2px 5px #D3D3D3;
}
.search{
    position: relative;
}

#magnifier{
    position: absolute;
    left: 15px;
    top: 13px;
    opacity: 0.4;
}

#mic{
    width: 15px;
    height: 22px;
    position: absolute;
    left: 480px;
    top: 13px;
}

.buttons button{
    border: none;
    padding: 10px 15px;
    margin: 30px 10px 20px 10px;
    border-radius: 5px;
    opacity: 0.7;
    font-size: 0.9rem;
}

.buttons button:hover{
    border: 1px solid rgb(216, 213, 213);
    box-shadow: 1px 1px 4px rgb(216, 213, 213);
    box-sizing: border-box;
    opacity: 1;
}

.lang, .lang a{
    font-size: 0.8rem;
}

/* Footer Part of the Page */
footer{
    background-color: #F2F2F2;
}

.final{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.country{
    padding: 15px 0;
    border-bottom: 1px solid #d4d1d1;
}
.country, .left a{
    padding-left: 20px;
}

.right a{
    padding-right: 20px;
}

.left a:hover, .right a:hover{
    text-decoration: underline;
 }

.country, footer a{
  font-size: 0.9rem;  
  opacity: 0.7;
  text-decoration: none;
  color: #000;
}
footer li{
    list-style-type: none;
}

